<h1>
    {{ 'home.developer' | translate }}
</h1>

<div class="box">
    <div class="box-content">
        <div class="figures">
            <figure class="ipad">
                <img src="./assets/img/ipad.png" alt="logo-ipad">
            </figure>
            <figure class="laptop">
                <img src="./assets/img/laptop.png" alt="logo-laptop">
            </figure>
            <figure class="phone">
                <img src="./assets/img/phone.png" alt="logo-phone">
            </figure>
        </div>
        <p>
            {{ 'home.portafolio' | translate }}
        </p>

        <button class="button" >
            {{ 'home.viewPortafolio' | translate }}
            <i class="fas fa-chevron-circle-right icon"></i>
        </button>

    </div>

</div>

<section>
    <div class="box">
        
    </div>
    <div class="box"></div>
    <div class="box"></div>
</section>