@import '../../../assets/scss/styles/variables-globals';
.container {
    display: flex;
    flex-flow: row wrap;
    width: 60%;
    margin: 0px auto;
    margin-top: 40px;
    border: 1px solid $color_black_light;
    min-height: 600px;
    height: auto;
    box-shadow: 0px 0px 20px $color_black_light;
    border-radius: 5px;
    text-decoration: none;
    font-family: sans-serif, Arial, Helvetica;
    margin-bottom: 50px;
}

.lateral-left {
    flex-basis: 240px;
    border: 1px solid $color_black_light;
    background-color: $color_backgroung_celeste;
    color: $color_white;
    box-shadow: 0px 0px 10px $color_black_light;
    img {
        width: 99%;
        height: 250px;
        border: 1px solid $color_black_light;
        box-shadow: 0px 0px 5px $color_black_light;
    }
    .contenido {
        // padding: 25px;
        padding-left: 25px;
        padding-right: 25px;
        h1 {
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;
        }
        h6 {
            font-size: 12px;
            font-weight: normal;
            letter-spacing: 1px;
            text-align: center;
            margin-top: 0px;
            padding: 0px;
        }
        h3 {
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 1px;
            text-align: left;
            text-transform: uppercase;
            border-bottom: 1px solid $color_gray_light;
            padding-bottom: 15px;
            padding-top: 20px;
        }
        .info {
            display: flex;
            flex-flow: row nowrap;
            border-bottom: 1px solid $color_gray_light;
            padding-bottom: 10px;
            padding-top: 10px;
            font-size: 10px;
            .left {
                flex-basis: 30%
            }
            .right {
                margin-left: 15px;
                flex-basis: 60%;
                // background: red;
            }
        }
        .redes-sociales {
            a {
                display: block;
                text-decoration: none;
                color: $color_white;
                font-size: 30px;
                margin-left: 20px;
                margin-top: 10px;
                margin-bottom: 20px;
                i {
                    height: 30px;
                }
            }
            .overlay {
                display: block;
                font-size: 14px;
                height: 20px;
                letter-spacing: 1px;
                text-shadow: 0px 0px 1px #ccc;
                position: absolute;
                padding: 5px;
                margin-left: 70px;
                margin-top: -55px;
                cursor: pointer;
                transform: translateX(-80%);
                -webkit-transform: translateX(-80%);
                -moz-transform: translateX(-80%);
                -ms-transform: translateX(-80%);
                -o-transform: translateX(-80%);
                opacity: 0;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -o-transition: all 0.5s;
            }
            div:hover .overlay {
                opacity: 1;
                transform: translateX(0%);
                -webkit-transform: translateX(0%);
                -moz-transform: translateX(0%);
                -ms-transform: translateX(0%);
                -o-transform: translateX(0%);
            }
        }
    }
}

.contenido-right {
    flex-basis: 60%;
    padding: 25px;
    margin: 0px auto;
    h1 {
        font-size: 18px;
        color: $color_title_letter;
        text-transform: uppercase;
        border-bottom: 3px solid $color_black_light;
        padding-bottom: 5px;
        margin-top: 40px;
    }
    h1:first-child {
        margin-top: 20px;
    }
    p {
        font-size: 14px;
        color: $color_letter;
        text-align: justify;
        letter-spacing: 2px;
        line-height: 20px;
    }
}

@import '../../../assets/scss/styles/responsive';