<div class="container">
    <aside class="lateral-left">
        <img src="./assets/img/foto.png" alt="">


        <div class="contenido">
            <h1>Alfredo Echeverria</h1>
            <h6>Desarrollador de app y app Webs</h6>

            <h3> Informacion Personal </h3>

            <div class="info">
                <span class="left">Nacimineto</span>
                <span class="right">11/04/1986</span>
            </div>

            <div class="info">
                <span class="left">Nacionalidad</span>
                <span class="right">Venezolano</span>
            </div>

            <div class="info">
                <span class="left">Estado Civil</span>
                <span class="right">Soltero</span>
            </div>


            <h3> Contacto </h3>
            <div class="info">
                <span class="left">Movil</span>
                <span class="right">+50760242632</span>
            </div>

            <div class="info">
                <span class="left">E-mail</span>
                <span class="right">alfredo_e69@hotmail.com</span>
            </div>

            <div class="info">
                <span class="left">Direccion</span>
                <span class="right">Calle Santa Elena Paque de Versalles Ph Marsella apto 2002</span>
            </div>


            <h3> Redes Sociales </h3>
            <div class="redes-sociales">
                <div class="twitter">
                    <a href=""> <i class="fab fa-twitter"></i> </a>
                    <p class="overlay">
                        Twitter
                    </p>
                </div>

                <div class="facebook">
                    <a href=""> <i class="fab fa-facebook"></i> </a>
                    <p class="overlay">
                        FaceBook
                    </p>
                </div>

                <div class="linkedin">
                    <a href=""> <i class="fab fa-linkedin"></i> </a>
                    <p class="overlay">
                        Linkedin
                    </p>
                </div>

            </div>
        </div>


    </aside>

    <section class="contenido-right">
        <h1>MI Perfil</h1>

        <p>
            Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar
            textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se puede leer. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum como su texto por defecto, y al hacer una búsqueda
            de "Lorem Ipsum" va a dar por resultado muchos sitios web que usan este texto si se encuentran en estado de desarrollo. Muchas versiones han evolucionado a través de los años, algunas veces por accidente, otras veces a propósito (por ejemplo
            insertándole humor y cosas por el estilo).
        </p>

        <h1>Experiencia Profecional</h1>
        <div class="experiencias">
            <article>

            </article>
        </div>

        <h1>Fomacion Academica</h1>
        <div class="experiencias">
            <article>

            </article>
        </div>



    </section>
</div>