$color_backgroung_celeste: #2b7c91;
$color_black_light: #404040;
$color_gray_light: #dedede;
$color_celeste_light: #5597a7;
$color_black_light: #666666;
$color_title_letter: #458b9e;
$color_letter: #565656;
$color_white: #FFFFFF;