$color_backgroung_celeste: #2b7c91;
$color_black_light: #404040;
$color_gray_light: #dedede;
$color_celeste_light: #5597a7;
$color_black_light: #666666;
$color_title_letter: #458b9e;
$color_letter: #63707e;
$color_white: #FFFFFF;
$color_grfic: #2A7B90;
$color_green: #1BAD9C;
$color_footer: #33485f;
$color_footer_center: #2a3b4e;
$color_letter_footer: #758391;
$color_facebook: #3664a2;
$color_instagram: #3f170d;
$color_linkedin: #0077b5; 
$color_bacground_box: #f5f6f7;
